#ignore all .idea folders
.*idea/
#ignore all .settings folders 
.*settings/

#ignore maven target folders 
.*target/

#ignore jar files 
.*JAR

#ignore iml files 
.*iml

#For grep app ignore the data folder 
C:\Users\bmaqs\Desktop\jarvis_projects\jarvis_data_eng_BraikhnaYousafzai\core_java\grep\data\
C:\Users\bmaqs\Desktop\jarvis_projects\jarvis_data_eng_BraikhnaYousafzai\core_java\grep\log
C:\Users\bmaqs\Desktop\jarvis_projects\jarvis_data_eng_BraikhnaYousafzai\core_java\grep\out

